<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.earldenzelperez_alhafeezabdulsalam_comp304_sec001_lab04_ex1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewPatientInfoActivity"
            android:label="@string/view_patient">></activity>
        <activity
            android:name=".UpdatePatientInfoActivity"
            android:label="@string/update_patient_info"></activity>
        <activity
            android:name=".ViewTestInfoActivity"
            android:label="@string/view_test"></activity>
        <activity
            android:name=".EnterTestDataActivity"
            android:label="@string/enter_test"></activity>
        <activity
            android:name=".EnterPatientActivity"
            android:label="@string/enter_patient"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"></activity>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>